/* You can add global styles to this file, and also import other style files */
@import './../../../libs/common-styles/main.scss';

$main-border-radius: 8px;
$small-border-radius: 4px;
$row-height: 76px;
$header-width: 200px;
$gutter-size: 10px;
$shedule-bg: #151515;
$event-bg-color: #ececec;

$time-bar-height: 38px;
$time-bar-color: #292929;
$channel-bg-color: #292929;
$app-text-color: #b2b2b2;

$app-bg: #2b2b2b;

$bar-bg: linear-gradient(#da1212 0%, #da1212 100%);

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  background-color: $app-bg;
  font-family: 'Baloo 2', cursive;
}

.container {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

.schedule {
  display: flex;
  flex-flow: row;
  width: calc(100% - 15px);
  max-width: 1200px;
  border-radius: $main-border-radius;
  overflow: hidden;
  background-color: $shedule-bg;

  &__scrolling-container {
    overflow-x: scroll;
  }

  &__header {
    padding: 12px;
    width: $header-width;
    padding-right: 0;
    margin-top: $time-bar-height + $gutter-size;
    overflow-x: scroll;
  }

  &__body {
    padding: 12px;
    width: calc(100% - #{$header-width});
    display: flex;
    flex-flow: column;
    position: relative;
    overflow: hidden;
  }

  &__time-bar-container {
    border-radius: $small-border-radius;
    width: 100%;
    height: $time-bar-height;
    margin-bottom: $gutter-size;
    display: flex;
    overflow-x: scroll;
  }

  &__time-bar {
    border-radius: $small-border-radius;
    background-color: $time-bar-color;
    color: $app-text-color;
    width: fit-content;
    display: flex;
  }

  &__time {
    font-size: 0.8rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    position: relative;
    &::before,
    &::after {
      content: '';
      width: 1px;
      height: 7px;
      background-color: darken($app-text-color, 40%);
      position: absolute;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
  }

  &__current-time-bar-container {
    width: 3600px;
    overflow: visible;
  }
  &__current-time-bar {
    position: relative;
    width: 2px;
    background-image: linear-gradient(#da1212 0%, #da1212 100%);
    top: 0;
    left: 0;
    height: 100%;
    position: absolute;
    z-index: 1;
  }

  &__event {
    padding-left: 2px;
    padding-right: 2px;
    position: absolute;
    &:first-child {
      padding-left: 0;
    }
  }

  &__event-details {
    border-radius: $small-border-radius;
    height: $row-height;
    padding: $gutter-size ($gutter-size - 4) $gutter-size ($gutter-size - 2);
    background-color: #2d2d2d;
  }

  &__event-details-wrapper {
    overflow: hidden;
  }

  &__event-title {
    margin-top: 0.1rem;
    display: flex;
    font-size: 0.95rem;
    color: $app-text-color;
  }

  &__event-start-time {
    margin-top: 0.1rem;
    color: darken($app-text-color, 20%);
    font-size: 0.8rem;
  }

  &__channel {
    display: flex;
    width: fit-content;
    border-radius: $main-border-radius;
    margin-bottom: $gutter-size;
    position: relative;
    height: $row-height;
    &:last-child {
      margin-bottom: 0;
    }

    &--presentation {
      width: 100%;
      height: $row-height;
      background-color: $channel-bg-color;
      border-radius: $small-border-radius;
      margin-bottom: $gutter-size;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__channel-title {
    padding: $gutter-size;
    display: flex;
    font-size: 0.95rem;
    color: $app-text-color;
  }
}

::-webkit-scrollbar {
  display: none;
}
